*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Cairo',sans-serif;
}

body{
background:#0f0f0f;
color:white;
}

header{
display:flex;
justify-content:center;
padding:20px;
background:black;
border-bottom:1px solid gold;
}

.logo{
font-size:24px;
color:gold;
font-weight:bold;
}

.products{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
padding:40px;
}

.card{
background:#1a1a1a;
padding:20px;
border-radius:10px;
text-align:center;
transition:.3s;
}

.card:hover{
transform:translateY(-5px);
}

.card img{
width:100%;
height:250px;
object-fit:cover;
}

.btn{
background:gold;
color:black;
padding:8px;
border:none;
cursor:pointer;
margin-top:10px;
font-weight:bold;
width:100%;
}

/* ===== Side Cart ===== */

.cart-icon{
position:fixed;
top:20px;
left:20px;
background:gold;
color:black;
padding:10px 15px;
border-radius:50px;
cursor:pointer;
font-weight:bold;
z-index:1000;
}

.side-cart{
position:fixed;
top:0;
right:-400px;
width:350px;
height:100%;
background:#111;
padding:20px;
overflow-y:auto;
transition:0.4s;
z-index:999;
box-shadow:-5px 0 20px rgba(0,0,0,0.5);
}

.side-cart.active{
right:0;
}

.close-cart{
text-align:left;
cursor:pointer;
color:red;
margin-bottom:15px;
font-weight:bold;
}

input{
width:100%;
padding:8px;
margin-top:10px;
}