header{
    background:linear-gradient(135deg,#0a3d62,#3c6382);
    color:white;
    padding:25px 20px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    border-bottom-left-radius:30px;
    border-bottom-right-radius:30px;
    box-shadow:0 5px 20px rgba(0,0,0,0.2);
    position:relative;
}

/* عنوان المتجر */
header h1{
    font-size:28px;
    font-weight:700;
}

/* الأزرار */
.header-actions{
    display:flex;
    gap:10px;
}

/* شكل الأزرار */
.header-actions button{
    background:rgba(255,255,255,0.2);
    backdrop-filter:blur(5px);
    border:none;
    color:white;
    padding:10px 12px;
    border-radius:12px;
    cursor:pointer;
    font-size:16px;
    transition:0.3s;
}

/* تأثير hover */
.header-actions button:hover{
    background:white;
    color:#0a3d62;
    transform:translateY(-3px);
}